<div class="banner">
    <%= render"layouts/banner", image: 'gallery/pages/about/page1.jpg', title: "page1"  %>
</div>

<div style="flex-direction: column; align-items: center">
    <h1>subpàgina1</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel voluptatum ea illo cumque, atque iusto ad nam odit excepturi accusantium at suscipit ut omnis quo aliquid repellendus. At omnis corrupti eaque, illo voluptatem, sit sapiente, maxime consequuntur voluptate dolores dicta saepe veritatis adipisci eveniet repellendus accusantium amet accusamus quae. Fuga molestias aliquam, eos odio sit quaerat, perferendis inventore, asperiores voluptatum delectus odit nemo! Dolor ipsam, hic, eum ut alias totam corrupti beatae, magni illo non sequi nam possimus. Delectus, velit? Reprehenderit, ullam doloribus dolor labore rem nemo quae? Et tenetur officia dolore quibusdam iure ullam facilis alias expedita illo error!</p>
</div>