<div class="carousel">
    <div class="carousel-image">
        <%= image_tag @random_image, class: "carousel-home"  %>
    </div>
    <div class="carousel-box">
        <h1>Bienvenido a Mi Aplicación</h1>
    </div>

</div>

   
