
<div class="">
    <%= render"carousel" %>
</div>
<div class="">
    <p>Categorias TOP</p>
</div> 
<div class="">
    <p>Custom Banner</p>
</div> 
<div class="">
    <p>Nuestros servicios</p>
</div> 
<div class="">
    <p>sub</p>
</div>
<div class="">
    <p>patrocinadores</p>
</div>
<div class="">
    <p>lectura intereactiva</p>
</div>
