$color-primary: #1E90FF;
$color-accent: #FFD700;
$color-light: #F0F8FF;
$color-dark: #2C3E50;

$color-0: #00072dff;
$color-1: #001c55ff;
$color-2: #0a2472ff;
$color-3: #0e6ba8ff;
$color-4: #a6e1faff;

html, body {
    margin: 0;
    padding: 0;
    height: 100%; // Cubrir todo el alto de pagina
    display: flex;
    flex-direction: column;
}

.nav-submenu {
    background-color: $color-3;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 15px;

    a {
        margin-right: 25px;
        text-decoration: none;
        color: white;
    }
    
    a:hover {
        text-decoration: none; /* Asegura que no se aplique subrayado al pasar el cursor */
        color: lightgray;      /* Opcional: cambia ligeramente el color en hover */
    }

}

.nav-menu {
    background-color: $color-4;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 15px;

    .languaje-selector {
        margin-left: auto;
    }

    .contact-nav {
        
        a {
            color: #FFF;
            background-color: $color-3;
            padding: 10px;
            transition: background-color 0.3s ease, padding 0.3s ease;
        }

        a:hover {
            color: #FFF;
            background-color: $color-3;
            padding: 15px;
        }
    }

    a {
        margin-right: 15px;
        font-size: 24px; 
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: $color-2;
    }

}

.mainpage-body {
    flex: 1; // Cubrir todo el alto de la pagina si el contenido no es suficiente para que el footer quede abajo

    div {
        display: flex;
        justify-content: center;
    }
}

.footer {
    color: #FFF;
    background-color: #000;
    gap: 5vw;

    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-logo {
        padding: 0 5vw;
    }

}

.banner {
    .banner-image {
        position: relative;
        width: 100%;
        height: 600px;
    }

    .banner-home {
        width: 100%;
        object-fit: cover;
    }

    .banner-box{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 500px;
        height: 150px;

        border-top-right-radius: 10px;
        background: $color-3;

        display: flex;
        justify-content: start;
        
        .banner-text{
            color: white;
            font-size: 56px;
            font-weight: 800;
            margin-left: 20px;
        }
    }
}

.white-box{
    position: absolute;
    background: white;
    transform: translate(-7%, 343px);
    width: 270px;
    height: 60px;
}

.white-box-1{
    position: absolute;
    flex-direction: column;
    text-align: left;
    background: white;
    transform: translate(-284px, 190px);
    width: 680px;
    height: 222px;
}

.home-secc{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;

    .caption{
        margin-top: -10px;
    }
}

.home-secc-5 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #000;

    .caption{
        margin-top: -10px;
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Carousel 2*/
.carousel-2 {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
}

/* Track con animación */
.carousel-track {
    animation: 35s slide infinite linear;
}

.carousel-track img {
    height: 150px;
    margin: 0 40px;
}

.form1 {
    width: 265px;
    height: 35px;
    margin-left: 15px;
    font-size: medium;
}
.form2 { 

    color: #FFF;
    background-color: $color-3;
    padding: 15px 25px;
    border: none;

    &:hover {
        color: #000;
        background-color: $color-4; 
    }
}

.about-main {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;

    .about-page {
        position: relative;
        overflow: hidden;
        width: 1225px;
        height: 476px;
    }

    .about-margin {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .about-image {
        width: 1225px;
        object-fit: cover;
    }
    
    .about-image-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(30, 144, 255, 0);
        transition: background-color 0.3s ease-in-out;
        pointer-events: none;
    }
    
    .about-page:hover .about-image-container::after {
        background-color: rgba(30, 144, 255, 0.5);
    }
    
    .about-more{
        background-color: $color-3;
        color: white;

        position: absolute;

        bottom: 195px;
        right: 0;
        width: 245px;
        height: 71px;

        justify-content: start;

        .about-more-text{
            margin-left: 15px;
            margin-top: 15px;
        }        
    }

    .about-box{
        position: absolute;
        bottom: 155px;
        left: 0;
        width: 500px;
        height: 150px;

        background: white;

        display: flex;
        justify-content: start;
        flex-direction: column;
        
        .about-text{
            margin-left: 20px;
            margin-bottom: 0;
            margin-top: 10px;
            color: #000;
        }
    }
}
