$color-primary: #1E90FF;
$color-accent: #FFD700;
$color-light: #F0F8FF;
$color-dark: #2C3E50;

$color-0: #00072dff;
$color-1: #001c55ff;
$color-2: #0a2472ff;
$color-3: #0e6ba8ff;
$color-4: #a6e1faff;

body, nav {
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav-submenu {
    background-color: $color-3;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 5px;

    a {
        margin-right: 25px;
        text-decoration: none;
        color: white;
    }
    
    a:hover {
        text-decoration: none; /* Asegura que no se aplique subrayado al pasar el cursor */
        color: lightgray;      /* Opcional: cambia ligeramente el color en hover */
    }

}

.nav-menu {
    background-color: $color-4;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 5px;

    a {
        margin-right: 15px;
        font-size: 24px; 
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: $color-2;
    }

}

.mainpage-body > div {
    display: flex;
    justify-content: center;
}

