<footer>
    <div class="footer">
        <a>Item 1</a>
        <a>Item 2</a>
        <a class="footer-logo" href="/" id="logo"><%= image_tag 'logo.png', height: 50 %></a>
        <a>Item 3</a>
        <a>Item 4</a>
    </div>
</footer>