<nav>

    <div class="nav-submenu">  
        <a>enlace 1</a>
        <a>enlace 2</a>
        <a>enlace 3</a>
        <a>enlace 4</a>
        <a>enlace 5</a>
    </div>

    <div class="nav-menu">
        <a>enlace 1</a>
        <a>enlace 2</a>
        <a>enlace 3</a>
        <a>enlace 4</a>
        <a>enlace 5</a>
    </div>
</nav>