<nav class="nav">
    <div class="nav-submenu">  
        <a href="/about">Nosotros</a>
        <a href="/documentation">Documentacion</a>
        <a href="/blog">Blog</a>
        <a href="/work">Trabaja con nosotros</a>
        <a href="/digitalization">Digitalizacion</a>
    </div>

    <div class="nav-menu">
        <a href="/" id="logo"><%= image_tag 'logo.png', height: 50 %></a>
        <a href="/books">Libros</a>
        <a href="/services">Servicios</a>
        <a href="/examples">Ejemplos</a>
        <a href="/contact">Contacto</a>
    </div>
</nav>
